 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.test {
  border-width: 2px;
  border-color: black;
  border-style: solid;

}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.header {
  background-color: #4f7dda;
  height: 70px;
}
.step-display-container {
  margin-top: 20px;
  display:flex;
  flex-direction: column;
  align-items: center;
  
}
.step-display {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 70%;
  border-width: 2px;
  border-color: rgb(63, 83, 196);
  border-style: solid;  
}
.buttonContainer {
  margin-top: 20px;
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
}
.button-validate {
  margin-right: 20px;
  font-size: 14px;
  background-color:#4f7dda;
  color:rgb(245, 241, 241);
  padding: 10px;
  border: none;
  
  
}
.import-button-container {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-list{
  width: 80%;
}

.App-link {
  color: #61dafb;
}
.mainContent {
  margin-top: 30px;
  min-height: 500px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.uploadButtonContainer {
  width: 20%;
  height: auto;
  border-width: 2px;
  border-color: rgb(67, 114, 216);
  border-style: solid;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.uploadButtonImg {
  margin-top: 20px;
  width: 30%;
}
.fileInput {
  display: none;
}
.textUpload {
  color:rgb(45, 70, 184);
}
.step-one-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.step-number-blue {
  text-align: center;
  align-self: center;
  color:rgb(56, 147, 199);
}
.step-number-red {
  text-align: center;
  align-self: center;
  color:rgb(207, 47, 55);
}
.circle-number-one {
  width: 30px;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
