.test {
    border-width: 2px;
    border-color: red;
    border-style: dotted;
}
.product-container {
    margin-top: 10px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    border-width: 2px;
    border-color: rgb(65, 88, 221);
    border-style: solid;
}
.status-image-container {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product-detail-container {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
.product-image-container {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.status-image {
    height: 50px;
}
.product-image {
    height: 50px;
}